POSTGRES_DB=pulsewarden
POSTGRES_USER=pulsewarden
POSTGRES_PASSWORD=pulsewarden
POSTGRES_PORT=5432

PULSEWARDEN_POSTGRES_DSN=postgres://pulsewarden:pulsewarden@localhost:5432/pulsewarden?sslmode=disable
PULSEWARDEN_POSTGRES_MAX_CONNS=10
PULSEWARDEN_POSTGRES_MIN_CONNS=1
PULSEWARDEN_POSTGRES_MAX_CONN_LIFETIME=30m
PULSEWARDEN_POSTGRES_MAX_CONN_IDLE_TIME=5m
PULSEWARDEN_POSTGRES_CONNECT_TIMEOUT=5s
PULSEWARDEN_POSTGRES_READINESS_TIMEOUT=2s